{% extends "base.html" %}
{% block title %}Spelling Bee!{% endblock %}
{% block content %}

<div class="container" style="background-color: d6d6d6; border-style: solid; border-radius: 5px;">
    <div class="row">
        <br><br>
    </div>

  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
     
        <h2>                
        <a href="/login"> <img src="/static/Key.png"><br> Login</a><br><br>

       <a href="/register"> <img src="/static/Documents.png"><br>Register</a><br><br>
          {% if loggedin %}
        <a href="/spell_check"> <img src="/static/Search.png"><br>Spell Check</a><br><br>
          {% endif %}

        </h2>


    </div>


    <div class="col-md-4">
    </div>

  </div>

</div>


{% endblock %}
